---
import Code from "../components/Code.astro";
import Layout from "../components/Layout.astro"

---

<Layout>
  <h2>Variables</h2>
  <a
    href="https://developer.mozilla.org/fr/docs/Learn/Getting_started_with_the_web/JavaScript_basics#variables"
    target="_blank">Mozilla variables</a
  >
  <h3>Déclaration</h3>
  <Code content="var newVarible;"></Code>
  <h3>Assignation</h3>
  <Code content="newVarible = 'hello world!;"></Code>
  <h3>VAR</h3>
  <h3>LET</h3>
  <h3>CONST</h3>
  <h3>Pointer</h3>
  <h3>Copy</h3>
</Layout>
